.vs
UserPhoneTest.Api/bin/*
UserPhoneTest.Application/bin/*
UserPhoneTest.Domain/bin/*
UserPhoneTest.Infrastructure/bin/*
UserPhoneTest.Api/obj/*
UserPhoneTest.Application/obj/*
UserPhoneTest.Domain/obj/*
UserPhoneTest.Infrastructure/obj/*
